<div id="course-info">

  <hr width="100%">
  <div>
  <h2 class="text-info">Business</h2>
  <div class="panel-group unstyled">
    <div class="panel panel-unstyled">
      <div class="panel-heading unstyled">
        <h4 class="panel-title panel">
          <a data-toggle="collapse" href="#collapse1"><h4>Associate's Degree</h4></a>
        </h4>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse panel">
      <ul class="list-group">
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/AS-Accounting/index.html">Accounting</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/AS-Business/index.html">Business</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/AS-Computer-Information-Technology/index.html">Computer Information Technology</a></li>
      </ul>
    </div>
  </div>

  <div class="panel-group unstyled">
    <div class="panel panel-unstyled">
      <div class="panel-heading unstyled">
        <h4 class="panel-title panel">
          <a data-toggle="collapse" href="#collapse2"><h4>Bachelor's Degree</h4></a>
        </h4>
      </div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Accounting/index.html">Accounting</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Business-Administration/index.html">Business Administration</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Business-Administration-Financial-Planning/index.html">Business Administration - Financial Planning</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Business-Information-Systems/index.html">Business Information Systems</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Healthcare-Administration/index.html">Healthcare Administration</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Hospitality-Management/index.html" title="BS in Hospitality Management">Hospitality Management</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Management/index.html">Management</a> 
          <ul><li>Human Resource Management</li></ul></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Marketing/index.html">Marketing</a>
          <ul>
            <li>Digital Advertising, Promotions and Branding Specialization</li>
            <li>Marketing Analytics Specialization</li>
            <li>Service and Non-Profit Marketing Specialization</li>
            <li>Social Media Specialization</li>
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</div>


  <hr width="100%">
  <div>
  <h2 class="text-info">Communication</h2>

  <div class="panel-group unstyled">
    <div class="panel panel-unstyled">
      <div class="panel-heading unstyled">
        <h4 class="panel-title panel">
          <a data-toggle="collapse" href="#collapse3"><h4>Bachelor's Degree</h4></a>
        </h4>
      </div>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Communication/index.html" title="Communication Studies">Communication</a></li>
        <li class="list-group-item list-unstyled panel"><a href="https://www.indwes.edu/adult-graduate/programs/BS-Digital-Communication/index.html">Digital Communication</a></li>
      </ul>
    </div>
  </div>

  <div class="panel-group unstyled">
    <div class="panel panel-unstyled">
      <div class="panel-heading unstyled">
        <h4 class="panel-title panel">
          <a data-toggle="collapse" href="#collapse4"><h4>Certificate Programs</h4></a>
        </h4>
      </div>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item list-unstyled"><a href="https://www.indwes.edu/adult-graduate/programs/Certificate-Communications/index.html">Certificate Communications</a></li>
      </ul>
    </div>
  </div>
</div>
</div>`